<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <p><%- config.pretitle %></p>
                    <h1><%- config.site_header %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

